<script src="js/scripts.js"></script>

<div id="page-header">
  <h1 style="z-index: 10; position: fixed; left: 70px; top: 20px; height: 50px; max-width: 50px;">Tweetie</h1>
  <img src="img/tweety.png" alt="Tweetie" style="z-index: 10; position: fixed; left: 20px; top: 30px; height: 50px; max-width: 50px;" />
</div>

<div id="main-content" class="container">
  {{outlet}}
</div>
