<div class="form-group">
  <form {{action 'tweet' on='submit'}}>
    <p>
      {{textarea cols="4" id="tweet-box" class="form-control" type="text" valueBinding="body" placeholder="Enter your tweet (140 char limit)"}}
    </p>
    <button class="btn btn-large">submit</button>
  </form>
</div>
<div id="char-left">

</div>



<ul>
  {{#each}}
    <li>{{body}}</li>
  {{/each}}
</ul>
