<div class="form-group">
  <form {{action 'tweet' on='submit'}}>
    <p>
      {{textarea cols="4" id="tweet-box" class="form-control" type="text" valueBinding="body" placeholder="Enter your tweet (140 char limit)"}}
    </p>
    <button id ="add-tweet"class="btn btn-large">submit</button>
    <span align="right" id="char-left" style="float: right;"></span>
  </form>
</div>

<ul>
  {{#each}}
    <li>{{body}}</li>
  {{/each}}
</ul>
